<header class="site-header" role="banner" id='header-bar'>

    <div class="wrapper">
        {% assign default_paths = site.pages | map: "path" %}
        <!-- <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a> -->
        <!-- <a class="site-title" href="{{ "/" | relative_url }}"> <u>Sun</u> Changsheng 「<u>孙</u>常晟」</a> -->
        <style type="text/css">
            /* Auto-hide profile photo */
            @media screen and (max-width: 700px) {
              div#site-title-wide { display: none }
            } 
        </style>
        <!-- <div id="site-title-wide"><a class="site-title" href="{{ "/" | relative_url }}"><u>Sun</u> Changsheng</a></div> -->
        <div id="site-title-wide"><a class="site-title" href="{{ "/" | relative_url }}"><u>Sun</u> Changsheng「<u>孙</u>常晟」</a></div>
        <style type="text/css">
            /* Auto-hide profile photo */
            @media screen and (min-width: 700px) {
              div#site-title-na { display: none }
            } 
        </style>
        <div id="site-title-na"><a class="site-title" href="{{ "/" | relative_url }}"><u>Sun</u> Changsheng</a></div>
        
        <!-- <nav class="site-nav">
            <a class="page-link" href="{{ site.baseurl }}/assets/CV202111-ChangshengSun.pdf">&#x1F916; CV</a>
        </nav> -->
        <!-- <nav class="site-nav">
            <a class="page-link" href="{{ '/FAQ.html' | relative_url }}">&#x1F64B; FAQ</a>
        </nav> -->
        <!-- <nav class="site-nav">
            <a class="page-link" href="{{ '/archive.html' | relative_url }}">&#x231b; Archive</a>
        </nav> -->
        <!-- <nav class="site-nav">
            <a class="page-link" href="{{ '/cal.html' | relative_url }}">&#128197; Calendar</a>
        </nav> -->
        <nav class="site-nav">
            <a class="page-link" href="{{ '/blog.html' | relative_url }}">&#x1F4DD; Blog</a>
        </nav>


    </div>

</header>
