<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- Back to top button -->
    <script src="{{ '/assets/vanilla-back-to-top.min.js' | relative_url }}"></script>
    <script>addBackToTop()</script>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <!-- Counter -->
    <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=707070&w=a&t=tt&d=h-U9FZqTwQPIel_60q9-Po0q9dYG9EvBqNQK0x5Gi7A&co=ffffff&cmo=7ea2d6&cmn=3863c9&ct=9e9e9e'></script>
    
    {% include footer.html %}

  </body>

</html>
