<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- Back to top button -->
    <script src="{{ '/assets/vanilla-back-to-top.min.js' | relative_url }}"></script>
    <script>addBackToTop()</script>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
        <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=h-U9FZqTwQPIel_60q9-Po0q9dYG9EvBqNQK0x5Gi7A"></script>
      </div>


    </main>
    {% include footer.html %}

  </body>

</html>
